*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: gold;

}

/* #first{
    background-color: red;
    
} */

/* .second{
    background-color: green;
    width: 200px;
    height: 200px;
} */


div{

    background-color: royalblue;

    width: 200px;
    height: 200px;


}

